
<div class='container-fluid single-wrap'>
  <h1>{{data.resort_name}}</h1>
  <div class='row'>

    <div class='col-md-8 col-md-offset-2 col-sm-12 pic-info' style="background-image:url('{{data.image}}')">
      <div class='quick-stats'>
        Acres: {{data.acres}} <br />
        Number of Trails: {{data.num_trails}}<br />
        Number of Lifts: {{data.num_lifts}}<br />
        Base Elevation: {{data.base_elevation}} ft.<br />
        Summit Elevation: {{data.summit_elevation}} ft.<br />
        Verticle Rise: {{data.verticle_rise}} ft.<br />
      </div>
    </div>
  </div>


<div class="about_mnt_loc">
  <h2>About the Mountain</h2>
    <p>{{data.about}}</p>
    <h2>Location</h2>
    <p>{{data.location}}</p>
    <h3>Closest Airports</h3>
    <p>{{data.airports}}</p>

</div>

<div class='container-fluid resort-bottom'>
  <div class='row'>
    <div class='resort-top col-md-6 col-sm-12'>
    <div class='about_mnt_terrain'>
      <h2>Terrain</h2>
      {{data.terrain}}<br />
      Annual Snowfall: {{data.annual_snowfall}} in.<br />
      Number of Terrain Parks: {{data.num_terrain_parks}}<br />
      Cat Skiing: {{data.cat_ski}}<br />
      Night Ski: {{data.night_ski}}<br />
      Cross Country Ski: {{data.cross_ski}}<br />
    </div>

<div class='ratings'>
<h2>Ratings</h2>
<div id='terrain_ratings'>
<h4>Terrain</h4>
<p>Beginner: {{data.beginner}}<br />
Intermediate: {{data.intermediate}}<br />
Advanced: {{data.advanced}}<br />
Expert: {{data.expert}}<br />
Extreme: {{data.extreme}}<br />
Off Piste: {{data.off_piste}}<br />
Tree Skiing: {{data.tree_skiing}}<br />
Snow Quality: {{data.snow}}<br />
Fresh Tracks: {{data.freshies}}<br />
Terrain Parks: {{data.terrain_park}}<br />
</div>

<div id='resort_ratings'>

<h4>Resort Ratings</h4>
Crowds: {{data.uncrowded}}<br />
Lifts: {{data.lifts}}<br />
Family Friendliness: {{data.family_friendly}}<br />
Daytime Restaurants: {{data.daytime_restaurants}}<br />
Nighttime Restaurants: {{data.nighttime_restaurants}}<br />
Nightlife: {{data.nightlife}}<br />
Apre Ski: {{data.apres}}<br />
Ski-in, Ski-out: {{data.skin_skiout}}<br />
Cost: {{data.cost}}<br />
</div>
<h4>Overall</h4>
<strong>{{data.overall}}</strong>
</div>
</div>
<div class='results-cam col-md-6 col-sm-12'>
  <div id='forcast'></div>
<div id='results'>
</div>
<h2>Webcams</h2>
<div class='webcam'>
  <button id='previous-slide'>last</button>
  <button id='next-slide'>Next</button>
</div>
</div>





</div>
</div>




<!-- <div class="w3-content w3-display-container" style="max-width:800px">
  <div class='prepend'>

  </div>

  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
  </div>
</div>

 -->





<script>

$(document).ready(() => {

  setTimeout(function() {
    if( $('.webcam').children().length > 3) {

  function test() {
    var slides = document.querySelectorAll('.webcam .mySlides');
    console.log(slides)
    var currentSlide = 0;
    // var slideInterval = setInterval(nextSlide,5000);

    $('#next-slide').click(function nextSlide() {
      slides[currentSlide].className = 'mySlides';
      currentSlide = (currentSlide+1)%slides.length;
      slides[currentSlide].className = 'mySlide activeSlide';
    })
    $('#previous-slide').click(function nextSlide() {
      slides[currentSlide].className = 'mySlides';
      currentSlide = (currentSlide-1)%slides.length;
      slides[currentSlide].className = 'mySlide activeSlide';
    })
  }
  setTimeout(test, 1000)
  $('#previous-slide').delay(1000).fadeIn(500)
  $('#next-slide').delay(1000).fadeIn(500)

  }
}, 8000)



    var liftieUrl = 'https://cors-anywhere.herokuapp.com/http://liftie.info/api/resort/'
    $.ajax({
        url: liftieUrl + "{{data.api_path}}",
        method: "GET",
        success: function(datas) {
          console.log(datas)
            var obj = datas.lifts.status;
            console.log(datas.weather.snow)
            var snow= datas.weather.snow
            if(datas.weather.snow==="") {
              snow=0
            }


            var cams = datas.webcams;
            for (var i = 0; i < cams.length; i++) {
                $('.webcam').append('<img class ="mySlides slide'+[i]+'"src="' + cams[i].image + '"style="width:100%" />')
                $('.webcam img:first-child').addClass('activeSlide')
            }

            $.each(obj, function(key, value) {
              if(value==='open')  {
                value='/images/green-open.png'
              }
              else{
                value='/images/red-closed.png'
              }
                $('#results').prepend("<img class='open-closed' src='" + value + "' /><p class='lift-status'>"+' '+key+"</p><br />");
            });
            $('#forcast').append('<h2>Forcast</h2><div >' + datas.weather.conditions + '</div><p>High: '+datas.weather.temperature.max+'°</p><p>New Snow: '+snow+'"</p>')
        },
        error: function(err) {
            console.log(err)
        }
      })


})

    // window.onload = function(){
    //        $("#load-time").fadeIn(3000)
    // };

    // window.onload = function(){
    //    setTimeout(function(){
    //        $("#load-time").fadeIn(400).css('display','block');
    //    }, 500)
    //
    // };

    //
    //
    //
    //
    //
    //
    //
    //
    // var slideIndex = 1;
    // showDivs(slideIndex);
    //
    // function plusDivs(n) {
    //   showDivs(slideIndex += n);
    // }
    //
    // function currentDiv(n) {
    //   showDivs(slideIndex = n);
    // }
    //
    // function showDivs(n) {
    //   var i;
    //   var x = document.getElementsByClassName("mySlides");
    //   var dots = document.getElementsByClassName("demo");
    //   if (n > x.length) {slideIndex = 1}
    //   if (n < 1) {slideIndex = x.length}
    //   for (i = 0; i < x.length; i++) {
    //      x[i].style.display = "none";
    //   }
    //   for (i = 0; i < dots.length; i++) {
    //      dots[i].className = dots[i].className.replace(" w3-white", "");
    //   }
    //   x[slideIndex-1].style.display = "block";
    //   dots[slideIndex-1].className += " w3-white";
    // }

</script>
