<h1>{{data.resort_name}}</h1>
<div id='resort-single-data'></div>

<div id='results'>
</div>

<h1>{{data.api_path}}</h1>

<div id='cam'>
</div>

<img src="{{data.image}}" class='res_image' />
<div class="about_mnt_loc">
<p>{{data.about}}</p>
<h2>Location</h2>
<p>{{data.location}}</p>
<p>Closest Airports<br />
{{data.airports}}</p>

</div>

<div class='about_mnt_size'>
  Acres: {{data.acres}} <br />
  Number of Trails: {{data.num_trails}}<br />
  Number of Lifts: {{data.num_lifts}}<br />
</div>


<div class="res_single_data">
  Base Elevation: {{data.base_elevation}} ft.<br />
  Summit Elevation: {{data.summit_elevation}} ft.<br />
  Verticle Rise: {{data.verticle_rise}} ft.<br />
</div>

<div class='about_mnt_terrain'>
  <h2>Terrain</h2>
  {{data.terrain}}<br />
  Annual Snowfall: {{data.annual_snowfall}} in.<br />
  Number of Terrain Parks: {{data.num_terrain_parks}}<br />
  Cat Skiing: {{data.cat_ski}}<br />
  Night Ski: {{data.night_ski}}<br />
  Cross Country Ski: {{data.cross_ski}}<br />
</div>

<div id='ratings_all'>

<h2>Ratings</h2>
<div id='terrain_ratings'>
<h4>Terrain</h4>
<p>Beginner: {{data.beginner}}<br />
Intermediate: {{data.intermediate}}<br />
Advanced: {{data.advanced}}<br />
Expert: {{data.expert}}<br />
Extreme: {{data.extreme}}<br />
Off Piste: {{data.off_piste}}<br />
Tree Skiing: {{data.tree_skiing}}<br />
Snow Quality: {{data.snow}}<br />
Fresh Tracks: {{data.freshies}}<br />
Terrain Parks: {{data.terrain_park}}<br />
</div>

<div id='resort_ratings'>

<h4>Resort Ratings</h4>
Crowds: {{data.uncrowded}}<br />
Lifts: {{data.lifts}}<br />
Family Friendliness: {{data.family_friendly}}<br />
Daytime Restaurants: {{data.daytime_restaurants}}<br />
Nighttime Restaurants: {{data.nighttime_restaurants}}<br />
Nightlife: {{data.nightlife}}<br />
Apre Ski: {{data.apres}}<br />
Ski-in, Ski-out: {{data.skin_skiout}}<br />
Cost: {{data.cost}}<br />
</div>
<h4>Overall</h4>
<strong>{{data.overall}}</strong>
</div>


<ol id='ham'>
    <li id='1'>one</li>
    <li id='2'>two</li>

</ol>

<script>
$(document).ready(() => {

    var liftieUrl = 'https://cors-anywhere.herokuapp.com/http://liftie.info/api/resort/'
    $.ajax({
        url: liftieUrl + "{{data.api_path}}",
        method: "GET",
        success: function(datas) {
          console.log(datas)
            var obj = datas.lifts.status;
            var cams = datas.webcams;
            for (var i = 0; i < cams.length; i++) {
                $('#cam').append('<img src=' + cams[i].image + '>')
            }

            $.each(obj, function(key, value) {
                $('#results').append('<p>' + key + ": " + value + '</p>');
            });
            $('#cam').append('<div>' + datas.weather.conditions + '</div>')
        },
        error: function(err) {
            console.log(err)
        }
      })
    })


</script>
