<div  id='all-resorts'>
  <h1>Our top resorts we picked for you<br /> based on your preferences</h1>

        {{#each searchResults}}
            <div class="card" id='resortList resortList2' href='/resorts/single/{{this.id}}'>
              <a class='resort-cards'href='/resorts/single/{{this.id}}'>
                  <h4 class="card-title">{{this.resort_name}}</h4>
                    <img class="card-img-top" id="card-pic"src="{{this.image}}" />
                    <div class="card-block">
                      <h3 id='overall-rating'>Overall Rating: {{this.overall}}</h3>
                        <p class='quick_stats'><strong></st>Number of trails:</strong> {{this.num_trails}}<br />
                        <strong>Number of lifts:</strong> {{this.num_lifts}}</br>
                        <strong>Verticle Rise:</strong> {{this.verticle_rise}}<br />
                        <strong>Terrain:</strong> {{this.terrain}}</p>
                    </div>
                  </a>
            </div>
    {{/each}}
</div>
